<?xml version="1.0"?>
<config version="1.0" serial="56" timestamp="1789060989.45">
  <Lib>
    <Account>
      <Migration>62</Migration>
    </Account>
    <Alerts>
      <CleanupTime>1789049829</CleanupTime>
    </Alerts>
    <Call>
      <DPC>41010501410203026563686F313233000003CE9C8BD506</DPC>
      <EmergencyCountry></EmergencyCountry>
    </Call>
    <CentralStorage>
      <LastBackoff>36000</LastBackoff>
      <LastFailure>1789059628</LastFailure>
      <NeedSync>1</NeedSync>
      <SyncSet>
        <u>
          <echo123>9db4df93:0</echo123>
        </u>
      </SyncSet>
    </CentralStorage>
    <Contacts>
      <Migration>1</Migration>
    </Contacts>
    <Conversation>
      <CreationTimestampFixed>1</CreationTimestampFixed>
    </Conversation>
    <DynContent>
      <B>
        <LastTime>0</LastTime>
      </B>
      <Bundle>
        <bupdate>
          <Sequence>0</Sequence>
        </bupdate>
        <install>
          <Sequence>0</Sequence>
        </install>
      </Bundle>
      <DisablePromo>0</DisablePromo>
      <DisableTip>0</DisableTip>
      <S>
        <LastTime>1789049840</LastTime>
      </S>
      <UILang>ru</UILang>
    </DynContent>
    <Notification>
      <LastPoll>1789054158</LastPoll>
      <LastSearch>1789054158</LastSearch>
    </Notification>
    <PM>
      <pslut>1789049839</pslut>
    </PM>
    <Pic>
      <DisableCookies>0</DisableCookies>
    </Pic>
    <PropsManager>
      <PermaProps>4106008B20AEF98AD506008920CE9C8BD50600F5010100F8010000FA010000FC0102</PermaProps>
    </PropsManager>
    <StatsSender>
      <Phase2>
        <ProposedDelivery>1789063046</ProposedDelivery>
      </Phase2>
    </StatsSender>
    <Video>
      <AdvertPolicy>contacts</AdvertPolicy>
      <AutoSend>0</AutoSend>
      <Device>USB3 Video</Device>
      <DevicePath>usb#vid_345f&#38;pid_2131&#38;mi_00#7&#38;2d60830&#38;0&#38;0000</DevicePath>
    </Video>
    <table_insert_history>
      <f43fdf0cb1b1d1b4c393cfa0cb41f3a069d11915f4c1632457f583bc89bc50e5>1789137017 14447:5400:1789050617</f43fdf0cb1b1d1b4c393cfa0cb41f3a069d11915f4c1632457f583bc89bc50e5>
    </table_insert_history>
  </Lib>
  <UI>
    <Alerts>
      <AnyUnseen>0</AnyUnseen>
    </Alerts>
    <Chat>
      <FontHeight>13</FontHeight>
      <FontName>Tahoma</FontName>
      <FontStyle></FontStyle>
    </Chat>
    <Devices>
      <InputName>&#208;&#156;&#208;&#184;&#208;&#186;&#209;&#128;&#208;&#190;&#209;&#132;&#208;&#190;&#208;&#189; (3- Fifine Microphone)</InputName>
      <OutputDevices>
        <_0>
          <Active>1</Active>
          <Handle>{0.0.0.00000000}.{b81d877d-6c36-4bd1-953f-e76780d32f57}</Handle>
          <Name>ASUS VG249 (NVIDIA High Definition Audio)</Name>
          <ProductId>282984607</ProductId>
        </_0>
        <_1>
          <Active>1</Active>
          <Handle>{0.0.0.00000000}.{51b9d01d-ddac-4ee3-8097-2d2c682e6baf}</Handle>
          <Name>&#208;&#148;&#208;&#184;&#208;&#189;&#208;&#176;&#208;&#188;&#208;&#184;&#208;&#186;&#208;&#184; (High Definition Audio Device)</Name>
          <ProductId>283906408</ProductId>
        </_1>
        <_2>
          <Active>1</Active>
          <Handle>{0.0.0.00000000}.{e72d610a-1be2-4b2e-b6cf-966a6e425f30}</Handle>
          <Name>Line 1 (Virtual Audio Cable)</Name>
          <ProductId></ProductId>
        </_2>
      </OutputDevices>
      <OutputName>ASUS VG249 (NVIDIA High Definition Audio)</OutputName>
      <RecordingDevices>
        <_0>
          <Active>1</Active>
          <Handle>{0.0.1.00000000}.{9babe96b-bd5d-4642-a6e7-51d99462d23c}</Handle>
          <Name>&#208;&#156;&#208;&#184;&#208;&#186;&#209;&#128;&#208;&#190;&#209;&#132;&#208;&#190;&#208;&#189; (3- Fifine Microphone)</Name>
          <ProductId>826429536</ProductId>
        </_0>
        <_1>
          <Active>1</Active>
          <Handle>{0.0.1.00000000}.{3f185cce-3f58-4b8c-97f4-6a6cdd11d6ad}</Handle>
          <Name>&#208;&#166;&#208;&#184;&#209;&#132;&#209;&#128;&#208;&#190;&#208;&#178;&#208;&#190;&#208;&#185; &#208;&#178;&#209;&#133;&#208;&#190;&#208;&#180; (USB3 Digital Audio)</Name>
          <ProductId>878649649</ProductId>
        </_1>
        <_2>
          <Active>1</Active>
          <Handle>{0.0.1.00000000}.{339ef638-f152-46fe-9221-e345386b68e9}</Handle>
          <Name>Line 1 (Virtual Audio Cable)</Name>
          <ProductId></ProductId>
        </_2>
        <_3>
          <Active>1</Active>
          <Handle>{0.0.1.00000000}.{d7670877-30d0-42ca-8a93-4edea62e2995}</Handle>
          <Name>&#208;&#156;&#208;&#184;&#208;&#186;&#209;&#128;&#208;&#190;&#209;&#132;&#208;&#190;&#208;&#189; (Steam Streaming Microphone)</Name>
          <ProductId></ProductId>
        </_3>
      </RecordingDevices>
    </Devices>
    <General>
      <Avatar>C:\Users\IlyaBOT\AppData\Roaming\Skype\Pictures\Devil Skype.png</Avatar>
      <AvatarCount>60</AvatarCount>
      <AvatarLastChanged>46275</AvatarLastChanged>
      <AvatarPath>C:\Users\IlyaBOT\AppData\Roaming\Skype\Pictures\</AvatarPath>
      <CallFrwBasic>1</CallFrwBasic>
      <CallPhonesTimestamp>46275</CallPhonesTimestamp>
      <CallQualityBalloonSeen>1</CallQualityBalloonSeen>
      <CallsBasic>1</CallsBasic>
      <ChatsBasic>1</ChatsBasic>
      <ContentPath>C:\Users\IlyaBOT\AppData\Roaming\Skype\Content\</ContentPath>
      <FistWhatsNewGuideVersionStr>4.2.0.187</FistWhatsNewGuideVersionStr>
      <GettingStartedWizardDisabled>0</GettingStartedWizardDisabled>
      <GswNumberOfDisplay>1</GswNumberOfDisplay>
      <HQVideoDevices>
        <_0>USB3 Video</_0>
        <_1>OBS Virtual Camera</_1>
      </HQVideoDevices>
      <LastMigrationVersion>4.2.0.187</LastMigrationVersion>
      <LastWhatsNewGuideVersionStr>4.2.0.187</LastWhatsNewGuideVersionStr>
      <MyselfPanelExpanded>1</MyselfPanelExpanded>
      <PrivacyBasic>1</PrivacyBasic>
      <SmsShowNumber>0</SmsShowNumber>
      <SoundSelectorDir></SoundSelectorDir>
      <Statistics>
        <stIcLastYield>0</stIcLastYield>
        <stIcRunCompletedCount>0</stIcRunCompletedCount>
        <stIcRunStartupCount>1</stIcRunStartupCount>
        <stIcTotalYield>0</stIcTotalYield>
      </Statistics>
      <UpdatesMajor>1</UpdatesMajor>
    </General>
    <Hotkeys>
      <B000>
        <enabled>0</enabled>
        <keyCode>33</keyCode>
        <mod>1</mod>
      </B000>
      <B002>
        <enabled>0</enabled>
        <keyCode>0</keyCode>
        <mod>0</mod>
      </B002>
      <B003>
        <enabled>0</enabled>
        <keyCode>34</keyCode>
        <mod>1</mod>
      </B003>
      <B004>
        <enabled>0</enabled>
        <keyCode>0</keyCode>
        <mod>0</mod>
      </B004>
      <B005>
        <enabled>0</enabled>
        <keyCode>0</keyCode>
        <mod>0</mod>
      </B005>
      <B006>
        <enabled>0</enabled>
        <keyCode>0</keyCode>
        <mod>0</mod>
      </B006>
      <B007>
        <enabled>0</enabled>
        <keyCode>33</keyCode>
        <mod>3</mod>
      </B007>
    </Hotkeys>
    <LastForwarded>
      <_0></_0>
      <_1></_1>
      <_2></_2>
      <_3></_3>
      <_4></_4>
    </LastForwarded>
    <MainWindow>
      <ConvListWidth>249</ConvListWidth>
    </MainWindow>
    <MainWindow40>
      <Height>598</Height>
      <Maximized>0</Maximized>
      <Width>932</Width>
      <X>477</X>
      <Y>250</Y>
    </MainWindow40>
    <Messages>
      <DisplayCallInfo>1</DisplayCallInfo>
    </Messages>
    <TransferSaveDir>C:\Users\IlyaBOT\AppData\Roaming\Skype\My Skype Received Files\</TransferSaveDir>
    <TrayAlerts>
      <Offline>1</Offline>
    </TrayAlerts>
  </UI>
</config>
